/* line 3, ../sass/admin.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/admin.scss */
body {
  font: normal 14px/1.4 "Roboto Slab", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  color: #444444;
}

/* line 14, ../sass/admin.scss */
#topbar {
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  width: 100%;
  line-height: 40px;
  overflow: hidden;
  padding: 0 10%;
  background-color: #00ab6f;
  z-index: 1;
}
/* line 22, ../sass/admin.scss */
#topbar a {
  color: white;
  text-decoration: none;
}
/* line 25, ../sass/admin.scss */
#topbar a:visited {
  color: white;
}

/* line 32, ../sass/admin.scss */
#wrapper {
  height: 100%;
  min-width: 600px;
  margin: 0 10%;
}

/* line 38, ../sass/admin.scss */
a {
  color: #00ab6f;
  text-decoration: none;
}

/* line 43, ../sass/admin.scss */
.left-column {
  min-width: 150px;
}

/* line 47, ../sass/admin.scss */
.right-column {
  min-width: 400px;
  overflow: hidden;
  margin-left: 150px;
}

/* line 53, ../sass/admin.scss */
#home {
  float: left;
}
/* line 55, ../sass/admin.scss */
#home a {
  display: block;
  padding: 0 8px;
}

/* line 61, ../sass/admin.scss */
#toolbar {
  margin: 0;
  list-style: none;
  padding: 0;
  font-weight: bold;
}
/* line 66, ../sass/admin.scss */
#toolbar li {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
/* line 72, ../sass/admin.scss */
#toolbar li a {
  padding: 0 40px;
  display: inline-block;
  margin: 0;
}
/* line 77, ../sass/admin.scss */
#toolbar li:hover {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

/* line 84, ../sass/admin.scss */
#main {
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}

/* line 90, ../sass/admin.scss */
#sidebar {
  padding-top: 80px;
  border-right: 1px solid #e2e2e2;
  position: fixed;
  height: 100%;
}
/* line 95, ../sass/admin.scss */
#sidebar menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 99, ../sass/admin.scss */
#sidebar menu li {
  margin: 0;
}
/* line 101, ../sass/admin.scss */
#sidebar menu li a {
  display: block;
  padding: 8px;
  color: inherit;
}
/* line 106, ../sass/admin.scss */
#sidebar menu li.cut-off {
  margin-bottom: 64px;
}
/* line 109, ../sass/admin.scss */
#sidebar menu li:hover {
  background-color: #e2e2e2;
}
/* line 112, ../sass/admin.scss */
#sidebar menu li.highlight {
  background-color: #e2e2e2;
}
/* line 114, ../sass/admin.scss */
#sidebar menu li.highlight a {
  font-weight: bold;
}

/* line 122, ../sass/admin.scss */
#recent-posts {
  float: left;
}

/* line 126, ../sass/admin.scss */
#recent-draft {
  float: left;
}

/* line 130, ../sass/admin.scss */
#stats {
  float: left;
}

/* line 134, ../sass/admin.scss */
ul.browser-dropdown {
  background-color: #cce6dd;
  list-style: none;
  padding: 0;
}
/* line 138, ../sass/admin.scss */
ul.browser-dropdown li {
  padding: 6px 8px;
}

/* line 143, ../sass/admin.scss */
table.browser {
  width: 100%;
  margin: 0 0 20px 0;
  cursor: default;
}
/* line 147, ../sass/admin.scss */
table.browser th, table.browser td {
  padding: 12px 8px;
  text-align: left;
}
/* line 151, ../sass/admin.scss */
table.browser thead {
  border-bottom: 1px solid #e2e2e2;
}
/* line 155, ../sass/admin.scss */
table.browser tbody tr:hover {
  background-color: #e2e2e2;
}
/* line 158, ../sass/admin.scss */
table.browser tbody tr {
  border-bottom: 1px solid #e2e2e2;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 162, ../sass/admin.scss */
table.browser tbody tr.selected {
  background-color: #00ab6f;
  color: white;
}
/* line 165, ../sass/admin.scss */
table.browser tbody tr.selected td.tags span {
  color: #444444;
}
/* line 169, ../sass/admin.scss */
table.browser tbody td.title {
  width: 80%;
}
/* line 171, ../sass/admin.scss */
table.browser tbody td.title img {
  padding-left: 8px;
}
/* line 175, ../sass/admin.scss */
table.browser tbody td.tags {
  width: 20%;
  font-size: 12px;
}
/* line 178, ../sass/admin.scss */
table.browser tbody td.tags span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #e2e2e2;
  padding: 2px 6px;
  margin: 0 2px;
}
/* line 185, ../sass/admin.scss */
table.browser tbody td.date {
  white-space: nowrap;
}
/* line 188, ../sass/admin.scss */
table.browser tbody td.draft-title {
  width: 20px;
  white-space: nowrap;
}
/* line 193, ../sass/admin.scss */
table.browser tbody td.draft-text div {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 200, ../sass/admin.scss */
table.browser tbody td.draft-date {
  white-space: nowrap;
}

/* line 206, ../sass/admin.scss */
a#more-posts {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  display: block;
  text-decoration: none;
  color: inherit;
}

/* line 215, ../sass/admin.scss */
#sidebar menu a {
  text-decoration: none;
}

/* line 219, ../sass/admin.scss */
menu.horizontal {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 225, ../sass/admin.scss */
menu.horizontal > li {
  display: inline;
  margin-left: 20px;
}

/* line 230, ../sass/admin.scss */
menu.horizontal > li:first-child {
  margin-left: 0;
}

/* line 234, ../sass/admin.scss */
menu.two-column > li {
  float: right;
}

/* line 238, ../sass/admin.scss */
menu.two-column > li:first-child {
  float: left;
}

/* line 242, ../sass/admin.scss */
menu.toolbar {
  margin-top: 0;
  list-style: none;
  padding: 0;
}
/* line 244, ../sass/admin.scss */
menu.toolbar li {
  display: inline;
  margin-right: 15px;
}
/* line 247, ../sass/admin.scss */
menu.toolbar li.rightmost {
  margin-left: 20px;
  margin-right: 0;
}
/* line 252, ../sass/admin.scss */
menu.toolbar li:last-child {
  margin-right: 0;
}

/* line 261, ../sass/admin.scss */
button.filled, button.hollow {
  cursor: pointer;
  font: inherit;
  font-weight: bold;
}

/* line 267, ../sass/admin.scss */
button.filled {
  padding: 6px 18px;
  background-color: #DDD;
  border: none;
  color: inherit;
}

/* line 274, ../sass/admin.scss */
button.hollow {
  padding: 4px 16px;
  background-color: inherit;
  border: 2px solid #888;
  color: #888;
}

/* line 281, ../sass/admin.scss */
button.filled-highlight {
  color: #00ab6f;
}

/* line 285, ../sass/admin.scss */
button.hollow-highlight {
  border: 2px solid #00ab6f;
  color: #00ab6f;
}

/* line 290, ../sass/admin.scss */
#compose-form {
  display: block;
  min-width: 400px;
}

/* line 297, ../sass/admin.scss */
div.post-editor .input-box {
  background-color: transparent;
  border: 1px solid #e2e2e2;
  word-spacing: inherit;
  letter-spacing: inherit;
  font: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
}
/* line 309, ../sass/admin.scss */
div.post-editor input.title {
  line-height: 2em;
  margin-bottom: 2em;
  font-weight: bold;
  padding: 0.5em 1em;
  width: 100%;
}
/* line 317, ../sass/admin.scss */
div.post-editor div.text {
  display: block;
  height: 450px;
  /* font-family   : inherit; */
  border: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 1em;
  width: 100%;
}

/* line 329, ../sass/admin.scss */
div#flash {
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 990;
}
/* line 334, ../sass/admin.scss */
div#flash p {
  padding: 4px 8px;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 340, ../sass/admin.scss */
div#flash p.error {
  background-color: #b0260f;
}
/* line 343, ../sass/admin.scss */
div#flash p.success {
  background-color: #8a2;
}
