@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Varela+Round);
/* line 3, ../sass/post/_common.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 6, ../sass/post/_common.scss */
a:hover {
  color: #ee5544;
}

/* line 11, ../sass/post/_common.scss */
*::selection {
  background-color: #ee5544;
  color: white;
  text-shadow: none;
}

/* line 17, ../sass/post/_common.scss */
div.flash {
  text-align: center;
  border: 1px solid #dddddd;
}

/* line 26, ../sass/post/_common.scss */
button.text-link {
  font: inherit;
  color: inherit;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  border-bottom: solid 1px #dddddd;
}

/* line 5, ../sass/post/_layout.scss */
body {
  color: #444444;
  font: 14px/1.62 "Varela Round", "Lucida Grande", sans-serif;
  margin: 0;
  background-color: #FEFEFE;
  border-left: 4px solid #ee5544;
}

/* line 13, ../sass/post/_layout.scss */
#wrapper {
  width: 700px;
  margin: 0 auto;
}

/* line 18, ../sass/post/_layout.scss */
#top {
  overflow: hidden;
  margin-bottom: 72px;
  padding-top: 8px;
}
/* line 22, ../sass/post/_layout.scss */
#top nav {
  overflow: hidden;
}
/* line 24, ../sass/post/_layout.scss */
#top nav ul {
  float: right;
}
/* line 26, ../sass/post/_layout.scss */
#top nav ul li {
  display: inline;
  margin-left: 24px;
}
/* line 29, ../sass/post/_layout.scss */
#top nav ul li:first-child {
  margin-left: 0;
}
/* line 33, ../sass/post/_layout.scss */
#top nav ul li.focus {
  border-bottom: solid 4px #ee5544;
}

/* line 40, ../sass/post/_layout.scss */
#bottom-footer {
  border-top: dotted 1px #DDD;
  padding-top: 0;
  margin-top: 72px;
  padding-bottom: 24px;
  text-align: right;
  overflow: hidden;
  font-size: 12px;
  color: #888888;
}
/* line 49, ../sass/post/_layout.scss */
#bottom-footer ul {
  list-style: none;
  margin-top: 0;
}
/* line 52, ../sass/post/_layout.scss */
#bottom-footer ul li {
  display: inline;
  margin-left: 24px;
}

/* line 3, ../sass/post/_article.scss */
h3.tagged {
  text-align: center;
  font-weight: normal;
}
/* line 6, ../sass/post/_article.scss */
h3.tagged span {
  border-bottom: solid 4px #ee5544;
  font-style: italic;
}

/* line 12, ../sass/post/_article.scss */
article.overview {
  border-bottom: solid 1px #dddddd;
  margin: 72px 0;
}

/* line 18, ../sass/post/_article.scss */
article.post header {
  margin: 36px 0;
}
/* line 20, ../sass/post/_article.scss */
article.post header h1 {
  margin: 0;
  font-size: 24px;
  color: #222222;
}
/* line 26, ../sass/post/_article.scss */
article.post div.meta {
  color: #888888;
  margin: 36px 0;
  text-align: right;
}
/* line 30, ../sass/post/_article.scss */
article.post div.meta p {
  line-height: normal;
  margin: 4px 0;
}
/* line 34, ../sass/post/_article.scss */
article.post div.meta form {
  margin: 16px 0;
}
/* line 36, ../sass/post/_article.scss */
article.post div.meta form button {
  color: #444444;
}
/* line 39, ../sass/post/_article.scss */
article.post div.meta form button:hover {
  border-bottom: none;
  background-color: #ee5544;
  color: white;
}
/* line 45, ../sass/post/_article.scss */
article.post div.meta a {
  color: #444444;
  font-style: italic;
  border-bottom: solid 1px #dddddd;
}
/* line 49, ../sass/post/_article.scss */
article.post div.meta a:hover {
  border-bottom: none;
  background-color: #ee5544;
  color: white;
}
/* line 56, ../sass/post/_article.scss */
article.post div.content {
  line-height: 1.8em;
}
/* line 58, ../sass/post/_article.scss */
article.post div.content a {
  color: black;
  border-bottom: solid 1px #dddddd;
}
/* line 61, ../sass/post/_article.scss */
article.post div.content a:hover {
  border-bottom: none;
  background-color: #ee5544;
  color: white;
}
/* line 67, ../sass/post/_article.scss */
article.post div.content p {
  text-align: justify;
}
/* line 70, ../sass/post/_article.scss */
article.post div.content hr {
  text-align: center;
  border-color: transparent;
}
/* line 73, ../sass/post/_article.scss */
article.post div.content hr:after {
  content: "......";
  letter-spacing: 2em;
}
/* line 78, ../sass/post/_article.scss */
article.post div.content code, article.post div.content pre {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-family: "Ubuntu Mono", monospace;
  background-color: #F2F2F2;
  border: solid 1px #dddddd;
}
/* line 84, ../sass/post/_article.scss */
article.post div.content code {
  padding: 0 4px;
}
/* line 87, ../sass/post/_article.scss */
article.post div.content pre {
  padding: 2px 6px;
  line-height: 1.62em;
}
/* line 91, ../sass/post/_article.scss */
article.post div.content pre code {
  border: none;
}
/* line 94, ../sass/post/_article.scss */
article.post div.content div.highlight {
  /* pygmentize -S friendly -f html */
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 3, ../sass/post/_highlight.scss */
article.post div.content div.highlight .hll {
  background-color: #ffffcc;
}
/* line 4, ../sass/post/_highlight.scss */
article.post div.content div.highlight .c {
  color: #60a0b0;
  font-style: italic;
}
/* line 5, ../sass/post/_highlight.scss */
article.post div.content div.highlight .err {
  border: 1px solid red;
}
/* line 6, ../sass/post/_highlight.scss */
article.post div.content div.highlight .k {
  color: #007020;
  font-weight: bold;
}
/* line 7, ../sass/post/_highlight.scss */
article.post div.content div.highlight .o {
  color: #666666;
}
/* line 8, ../sass/post/_highlight.scss */
article.post div.content div.highlight .cm {
  color: #60a0b0;
  font-style: italic;
}
/* line 9, ../sass/post/_highlight.scss */
article.post div.content div.highlight .cp {
  color: #007020;
}
/* line 10, ../sass/post/_highlight.scss */
article.post div.content div.highlight .c1 {
  color: #60a0b0;
  font-style: italic;
}
/* line 11, ../sass/post/_highlight.scss */
article.post div.content div.highlight .cs {
  color: #60a0b0;
  background-color: #fff0f0;
}
/* line 12, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gd {
  color: #a00000;
}
/* line 13, ../sass/post/_highlight.scss */
article.post div.content div.highlight .ge {
  font-style: italic;
}
/* line 14, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gr {
  color: red;
}
/* line 15, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* line 16, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gi {
  color: #00a000;
}
/* line 17, ../sass/post/_highlight.scss */
article.post div.content div.highlight .go {
  color: #888888;
}
/* line 18, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
/* line 19, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gs {
  font-weight: bold;
}
/* line 20, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* line 21, ../sass/post/_highlight.scss */
article.post div.content div.highlight .gt {
  color: #0044dd;
}
/* line 22, ../sass/post/_highlight.scss */
article.post div.content div.highlight .kc {
  color: #007020;
  font-weight: bold;
}
/* line 23, ../sass/post/_highlight.scss */
article.post div.content div.highlight .kd {
  color: #007020;
  font-weight: bold;
}
/* line 24, ../sass/post/_highlight.scss */
article.post div.content div.highlight .kn {
  color: #007020;
  font-weight: bold;
}
/* line 25, ../sass/post/_highlight.scss */
article.post div.content div.highlight .kp {
  color: #007020;
}
/* line 26, ../sass/post/_highlight.scss */
article.post div.content div.highlight .kr {
  color: #007020;
  font-weight: bold;
}
/* line 27, ../sass/post/_highlight.scss */
article.post div.content div.highlight .kt {
  color: #902000;
}
/* line 28, ../sass/post/_highlight.scss */
article.post div.content div.highlight .m {
  color: #40a070;
}
/* line 29, ../sass/post/_highlight.scss */
article.post div.content div.highlight .s {
  color: #4070a0;
}
/* line 30, ../sass/post/_highlight.scss */
article.post div.content div.highlight .na {
  color: #4070a0;
}
/* line 31, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nb {
  color: #007020;
}
/* line 32, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nc {
  color: #0e84b5;
  font-weight: bold;
}
/* line 33, ../sass/post/_highlight.scss */
article.post div.content div.highlight .no {
  color: #60add5;
}
/* line 34, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nd {
  color: #555555;
  font-weight: bold;
}
/* line 35, ../sass/post/_highlight.scss */
article.post div.content div.highlight .ni {
  color: #d55537;
  font-weight: bold;
}
/* line 36, ../sass/post/_highlight.scss */
article.post div.content div.highlight .ne {
  color: #007020;
}
/* line 37, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nf {
  color: #06287e;
}
/* line 38, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nl {
  color: #002070;
  font-weight: bold;
}
/* line 39, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
/* line 40, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nt {
  color: #062873;
  font-weight: bold;
}
/* line 41, ../sass/post/_highlight.scss */
article.post div.content div.highlight .nv {
  color: #bb60d5;
}
/* line 42, ../sass/post/_highlight.scss */
article.post div.content div.highlight .ow {
  color: #007020;
  font-weight: bold;
}
/* line 43, ../sass/post/_highlight.scss */
article.post div.content div.highlight .w {
  color: #bbbbbb;
}
/* line 44, ../sass/post/_highlight.scss */
article.post div.content div.highlight .mf {
  color: #40a070;
}
/* line 45, ../sass/post/_highlight.scss */
article.post div.content div.highlight .mh {
  color: #40a070;
}
/* line 46, ../sass/post/_highlight.scss */
article.post div.content div.highlight .mi {
  color: #40a070;
}
/* line 47, ../sass/post/_highlight.scss */
article.post div.content div.highlight .mo {
  color: #40a070;
}
/* line 48, ../sass/post/_highlight.scss */
article.post div.content div.highlight .sb {
  color: #4070a0;
}
/* line 49, ../sass/post/_highlight.scss */
article.post div.content div.highlight .sc {
  color: #4070a0;
}
/* line 50, ../sass/post/_highlight.scss */
article.post div.content div.highlight .sd {
  color: #4070a0;
  font-style: italic;
}
/* line 51, ../sass/post/_highlight.scss */
article.post div.content div.highlight .s2 {
  color: #4070a0;
}
/* line 52, ../sass/post/_highlight.scss */
article.post div.content div.highlight .se {
  color: #4070a0;
  font-weight: bold;
}
/* line 53, ../sass/post/_highlight.scss */
article.post div.content div.highlight .sh {
  color: #4070a0;
}
/* line 54, ../sass/post/_highlight.scss */
article.post div.content div.highlight .si {
  color: #70a0d0;
  font-style: italic;
}
/* line 55, ../sass/post/_highlight.scss */
article.post div.content div.highlight .sx {
  color: #c65d09;
}
/* line 56, ../sass/post/_highlight.scss */
article.post div.content div.highlight .sr {
  color: #235388;
}
/* line 57, ../sass/post/_highlight.scss */
article.post div.content div.highlight .s1 {
  color: #4070a0;
}
/* line 58, ../sass/post/_highlight.scss */
article.post div.content div.highlight .ss {
  color: #517918;
}
/* line 59, ../sass/post/_highlight.scss */
article.post div.content div.highlight .bp {
  color: #007020;
}
/* line 60, ../sass/post/_highlight.scss */
article.post div.content div.highlight .vc {
  color: #bb60d5;
}
/* line 61, ../sass/post/_highlight.scss */
article.post div.content div.highlight .vg {
  color: #bb60d5;
}
/* line 62, ../sass/post/_highlight.scss */
article.post div.content div.highlight .vi {
  color: #bb60d5;
}
/* line 63, ../sass/post/_highlight.scss */
article.post div.content div.highlight .il {
  color: #40a070;
}

/* line 100, ../sass/post/_article.scss */
nav.pagination {
  overflow: hidden;
}
/* line 102, ../sass/post/_article.scss */
nav.pagination .previous {
  float: left;
}
/* line 105, ../sass/post/_article.scss */
nav.pagination .next {
  float: right;
}

/* line 110, ../sass/post/_article.scss */
form.preview {
  border-top: solid 4px #ee5544;
  border-bottom: solid 4px #ee5544;
  padding: 16px;
  width: 100%;
  overflow: hidden;
}
/* line 116, ../sass/post/_article.scss */
form.preview div {
  margin: 12px 0;
}
/* line 119, ../sass/post/_article.scss */
form.preview input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: inherit;
  border: solid 1px #dddddd;
  outline: none;
}
/* line 125, ../sass/post/_article.scss */
form.preview label {
  font-weight: bold;
}
/* line 128, ../sass/post/_article.scss */
form.preview menu {
  float: right;
  list-style: none;
  margin: 0;
}
/* line 132, ../sass/post/_article.scss */
form.preview menu li {
  display: inline;
  margin-left: 16px;
}

/* line 3, ../sass/post/_archive.scss */
div.tagcloud {
  float: right;
  width: 350px;
  margin-bottom: 32px;
  font-size: 12px;
}
/* line 8, ../sass/post/_archive.scss */
div.tagcloud a {
  float: left;
  padding: 2px 8px;
  margin: 2px;
  border: solid 1px #dddddd;
}
/* line 14, ../sass/post/_archive.scss */
div.tagcloud a.focus {
  color: white;
  background-color: #ee5544;
  border-color: #ee5544;
}

/* line 21, ../sass/post/_archive.scss */
div.archive {
  clear: both;
  /* under ul */
  /* under ul li */
  /* under ul li */
  /* under ul li */
}
/* line 23, ../sass/post/_archive.scss */
div.archive h2 {
  width: 100px;
  text-align: right;
  color: #888888;
}
/* line 28, ../sass/post/_archive.scss */
div.archive ul {
  list-style: none;
  line-height: normal;
  padding: 0;
}
/* line 34, ../sass/post/_archive.scss */
div.archive li {
  margin: 32px 0;
  overflow: hidden;
}
/* line 40, ../sass/post/_archive.scss */
div.archive time {
  float: left;
  color: #888888;
  width: 100px;
  text-align: right;
}
/* line 47, ../sass/post/_archive.scss */
div.archive div.tag {
  margin-left: 18px;
  float: left;
  color: #888888;
  width: 582px;
}
/* line 52, ../sass/post/_archive.scss */
div.archive div.tag a {
  float: left;
  margin: 0 8px;
}
/* line 55, ../sass/post/_archive.scss */
div.archive div.tag a:first-child {
  margin-left: 0;
}
/* line 58, ../sass/post/_archive.scss */
div.archive div.tag a.focus {
  color: #ee5544;
  border-color: #ee5544;
}
/* line 65, ../sass/post/_archive.scss */
div.archive h3 {
  font-weight: normal;
  color: black;
  margin-left: 118px;
  padding-top: 6px;
  clear: both;
}

/* line 74, ../sass/post/_archive.scss */
nav.right-pagination {
  overflow: hidden;
  text-align: right;
  font-size: 12px;
  padding: 4px;
}
/* line 79, ../sass/post/_archive.scss */
nav.right-pagination a {
  border: solid 1px #dddddd;
  padding: 4px;
}
/* line 83, ../sass/post/_archive.scss */
nav.right-pagination span {
  color: #888888;
  border: solid 1px #dddddd;
  padding: 4px;
}
/* line 88, ../sass/post/_archive.scss */
nav.right-pagination .previous {
  margin-right: 4px;
}
/* line 91, ../sass/post/_archive.scss */
nav.right-pagination .next {
  margin-left: 4px;
}
