{% extends "base/admin/_layout.html" %}

{% block main %}
                <table class="browser" unselectable="on">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Text</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for draft in drafts %}
                        <tr class="item" data-id="{{ draft.id }}">
                            <td class="draft-title">{{ draft.title|truncate(64, killwords=True) }}</td>
                            <td class="draft-text">{{ draft.text|truncate(64, killwords=True) }}</td>
                            <td class="draft-date"><time datetime="{{ draft.saved_at|string + 'Z' }}"></time></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a id="more-posts" href="#" style="{{ 'display:none;' if not more }}{#
                #}background-image:url({{ url_for('static', filename="img/arrow-down-alt1.png") }})"></a>
{% endblock %}

{% block script %}
        {% set data_main = 'scripts/main.js' %}
        {% if config['DEBUG'] %}
        <script data-main="{{ url_for('static', filename='js/admin/drafts.js') }}" src="{{ requirejs_debug_path }}"></script>
        {% else %}
        <script data-main="{{ url_for('static', filename='js/admin/drafts.min.js') }}" src="{{ requirejs_path }}"></script>
        {% endif %}
{% endblock %}
