{% extends "_layout.html" %}

{% block head %}
        <title>{{ 'Admin' }}</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block body %}
        <div id="flash">
            {% for category, msg in get_flashed_messages(with_categories=true) -%}
            <p class="{{ category }}">{{ msg }}</p>
            {%- endfor %}
        </div>
        <div id="topbar">
            <div id="home" class="left-column"><a class="white-link" href="{{ url_for('post.render_posts') }}">Home</a></div>
            <menu id="toolbar" class="right-column">
                {% block menus %}
                {% endblock %}
            </menu>
        </div>
        <div id="wrapper">
            <nav id="sidebar" class="left-column">
                <menu>
                    <li><a href="{{ url_for('admin.render_posts') }}">Posts</a></li>
                    <li><a href="{{ url_for('admin.render_drafts') }}">Drafts</a></li>
                    <li class="cut-off"><a href="{{ url_for('admin.render_posts', status='trash') }}">{{ 'Trash' }}</a></li>
                </menu>
            </nav>

            <section id="main" class="right-column">
                {% block main %}
                {% endblock %}
            </section>
        </div>
        <script>
            {% if config['DEBUG'] %}
            var require = {
                baseUrl: '{{ url_for('static', filename='js') }}',
                paths: {
                    jquery: 'vendor/jquery/jquery',
                    moment: 'vendor/moment/moment',
                    Uri: 'vendor/jsuri/Uri'
                }
            };
            {% else %}
            var require = {
                baseUrl: '{{ url_for('static', filename='js') }}',
                paths: {
                    jquery: 'vendor/jquery/jquery.min',
                    moment: 'vendor/moment/moment.min',
                    Uri: 'vendor/jsuri/Uri.min'
                }
            }
            {% endif %}
        </script>
        {% set requirejs_path = url_for('static', filename='js/vendor/requirejs/require.js') %}
        {% set requirejs_debug_path = url_for('static', filename='js/vendor/requirejs/require.min.js') %}
        {% block script scoped %}
        {% endblock %}
{% endblock %}
