{% extends "base/_layout.html" %}

{% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
        <link rel="alternate" type="application/atom+xml" href="{{ url_for('post.atom_feed') }}">
        <title>{% block title %}Home{% endblock %}</title>
{% endblock %}

{% block body%}
        <div id="wrapper">
            <header id="top">
                <nav>
                    <ul>
                    {% block nav %}
                        <li><a href="{{ url_for('post.archive') }}">Archive</a></li>
                        <li><a href="{{ url_for('post.render_posts') }}">Home</a></li>
                    {% endblock %}
                    </ul>
                </nav>
            </header>
            {% for category, msg in get_flashed_messages(with_categories=true) %}
            {% if loop.first %}
            <div class="flash">
            {% endif %}
                <p class="{{ category }}">{{ msg }}</p>
            {% if loop.last %}
            </div>
            {% endif %}
            {% endfor %}
            {% block main %}
            {% endblock %}
            <footer id="bottom-footer">
                <ul>
                    <li>&copy; 2012 <a href="http://taopeng.me">Tao Peng</a></li>
                    {% if g.is_admin -%}
                    <li><a href="{{ url_for('admin.render_dashboard') }}">Admin</a></li>
                    {%- endif %}
                    {% if g.is_login -%}
                    <li><a href="{{ url_for('account.profile') }}">My Account</a></li>
                    <li><a href="{{ url_for('session.logout', sid=session['sid']) }}">Logout</a></li>
                    {%- elif config['GOOGLE_CONSUMER'] or config['FACEBOOK_CONSUMER'] -%}
                    <li>
                        <a href="{{ url_for('session.render_login') }}">Login</a>
                    </li>
                    {%- endif %}
                </ul>
            </footer>
        </div>
{% endblock %}
